Source: asterisk
Priority: optional
Section: comm
Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Uploaders: Mark Purcell <msp@debian.org>, Kilian Krause <kk@verfaction.de>, Jose Carlos Garcia Sogo <jsogo@debian.org>, Santiago Garcia Mantinan <manty@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4.0.4), libgtk1.2-dev | libgtk-dev, libreadline4-dev | libreadline-dev, libgsm1-dev, libssl-dev, libzap-dev, libtonezone-dev (>= 1.0.4-1), doxygen, bison, libasound2-dev, postgresql-dev, unixodbc-dev, libpri-dev (>= 1.0.4-1), libspeex-dev, dpatch (>= 2.0.10), zaptel-source (>= 1.0.4-1)

Package: asterisk
Architecture: any
Section: comm
Depends: ${shlibs:Depends}, asterisk-sounds-main (>= 1:1.0.2), asterisk-config, libpri1 (>= 1.0.4-1)
Suggests: gnomemeeting, ohphone, kphone, asterisk-doc, asterisk-dev, rate-engine, mpg123
Description: open source Private Branch Exchange (PBX)
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX) standards, or the 
 Public Switched Telephone Network (PSTN) through Supported Hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) products from Digium (http://www.digium.com)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
  * Full Duplex Sound Card supported by Linux
  * Adtran Atlas 800 Plus
  * ISDN4Linux compatible ISDN card
  * Tormenta Dual T1 card (http://www.bsdtelephony.com.mx)
  * CAPI compatible ISDN cards can be run using the add-on package chan-capi
 .
 This Debian package includes the sample configuration, with demonstration
 extensions, etc
 .
 Website: http://www.asterisk.org.

Package: asterisk-h323
Architecture: any
Recommends: asterisk, asterisk-oh323
Replaces: asterisk (<= 1:1.0.2-2)
Section: comm
Depends: ${shlibs:Depends}
Description: asterisk H.323 VoIP channel
 This package provided h323 support for the Asterisk Open Source PBX system.
 .
 It was separated out into its own package to avoid having the main package
 depend on the many openh323 dependencies. For now asterisk-oh323 replaces this
 version until chan_h323 does support the current OpenH323 version again.

Package: asterisk-gtk-console
Architecture: any
Recommends: asterisk
Replaces: asterisk (<= 1.0.2-1)
Section: comm
Depends: ${shlibs:Depends}
Description: gtk based console for asterisk
 This package provides a limited GTK based console for the Asterisk Open Source
 PBX system.
 .
 It was separated out into its own package to avoid having the main package 
 depend on xlibs and gtk-1.2

Package: asterisk-doc
Recommends: asterisk
Conflicts: asterisk (<=0.1.12-3)
Replaces: asterisk (<=0.1.12-3)
Section: doc
Architecture: all
Description: documentation for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the source documentation needed if you wish to
 extend the asterisk package.

Package: asterisk-dev
Architecture: all
Recommends: asterisk
Conflicts: asterisk (<=0.1.12-3)
Replaces: asterisk (<=0.1.12-3)
Section: devel
Description: development files for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the include files used if you wish to compile a
 package which requires asterisk source file headers.

Package: asterisk-sounds-main
Architecture: all
Recommends: asterisk
Conflicts: asterisk (<=0.1.12-3), asterisk-sounds (<= 1:1.0.2-1)
Replaces: asterisk (<=0.4.0-5), asterisk-sounds (<= 1:1.0.2-1)
Section: comm
Description: sound files for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the default sound files for operation of asterisk

Package: asterisk-web-vmail
Recommends: asterisk
Architecture: all
Depends: httpd-cgi
Section: comm
Description: web based (GCI) voice mail interface for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains a web-based interface for the voice-mail system

Package: asterisk-config
Recommends: asterisk
Replaces: asterisk (<= 1:1.0.2-2)
Architecture: all
Section: comm
Description: config files for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the configuration files of Asterisk
